._layout {
  width: 100vw;
  height: 100vh;

  position: absolute;

  z-index: 0;

  top: 0;
  left: 0;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}