@import url(https://fonts.cdnfonts.com/css/akrobat);

._layout {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 0
}

.notifies .appeared {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0)
}

.notifies .removed {
	pointer-events: none
}

.notifies .notify-container {
	display: flex;
	flex-direction: column;
	margin: 3.7037037037vh;
	position: absolute;
	row-gap: 1.8518518519vh
}

.notifies .notify-container .notifies-item {
	align-items: center;
	display: flex;
	position: relative;
	transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, transform .3s;
	transition: opacity .3s, transform .3s, -webkit-transform .3s
}

/* .notifies .notify-container .notifies-item .image-block {
	-webkit-filter: drop-shadow(0 0 .462962963vh #418dff);
	filter: drop-shadow(0 0 .462962963vh rgb(65, 141, 255));
	height: 5.0925925926vh;
	position: relative;
	width: 5.0925925926vh
} */

.notifies .notify-container .notifies-item .image-block {
    -webkit-filter: drop-shadow(0 0 .462962963vh #418dff) drop-shadow(0 0 30px 10px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(0 0 .462962963vh rgb(65, 141, 255)) drop-shadow(0 0 30px 10px rgba(0, 0, 0, 0.9));
    height: 5.0925925926vh;
    position: relative;
    width: 5.0925925926vh;
}



.notifies .notify-container .notifies-item .image-block img,
.notifies .notify-container .notifies-item .image-block svg {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.notifies .notify-container .notifies-item .image-block .progress {
	stroke: #418dff
}

.notifies .notify-container .notifies-item .image-block svg {
	height: 5.0925925926vh;
	width: 5.0925925926vh
}

.notifies .notify-container .notifies-item .image-block img {
	height: 1.6666666667vh;
	object-fit: contain;
	width: 1.6666666667vh
}

.notifies .notify-container .notifies-item .text-block {
	margin-left: 1.8518518519vh;
	width: 26.8518518519vh
}

.notifies .notify-container .notifies-item .text-block .header-section h1 {
	color: #418dff;
	font-size: 1.4814814815vh;
	font-weight: 700;
	text-transform: uppercase
}

.notifies .notify-container .notifies-item .text-block .header-section p {
	color: hsla(0, 0%, 100%, .35);
	font-size: 1.1111111111vh;
	font-weight: 500
}

.notifies .notify-container .notifies-item .text-block .content {
	color: #fff;
	font-size: 1.1111111111vh;
	font-weight: 500;
	line-height: 134.3%;
	margin-top: .7407407407vh
}

.notifies .notify-container .notifies-item .notify-back {
	height: 9.0740740741vh;
	position: absolute;
	right: -2%;
	top: 50%;
	-webkit-transform: translateY(-80%);
	transform: translateY(-80%);
	width: 10.2777777778vh
}

.notifies .notify-container .notifies-item.error .image-block {
	-webkit-filter: drop-shadow(0 0 .462962963vh #ff3737);
	filter: drop-shadow(0 0 .462962963vh #FF3737)
}

.notifies .notify-container .notifies-item.error .image-block .progress {
	stroke: #ff3737
}

.notifies .notify-container .notifies-item.error .header-section h1 {
	color: #ff3737
}

.notifies .notify-container .notifies-item.success .image-block {
	-webkit-filter: drop-shadow(0 0 .462962963vh #41ffa4);
	filter: drop-shadow(0 0 .462962963vh #41FFA4)
}

.notifies .notify-container .notifies-item.success .image-block .progress {
	stroke: #41ffa4
}

.notifies .notify-container .notifies-item.success .header-section h1 {
	color: #41ffa4
}

.notifies .notify-container .notifies-item.notify .image-block {
	-webkit-filter: drop-shadow(0 0 .462962963vh #ffca41);
	filter: drop-shadow(0 0 .462962963vh #FFCA41)
}

.notifies .notify-container .notifies-item.notify .image-block .progress {
	stroke: #ffca41
}

.notifies .notify-container .notifies-item.notify .header-section h1 {
	color: #ffca41
}

.notifies .notify-container .notifies-item.info .image-block {
	-webkit-filter: drop-shadow(0 0 .462962963vh #418dff);
	filter: drop-shadow(0 0 .462962963vh #418DFF)
}

.notifies .notify-container .notifies-item.info .image-block .progress {
	stroke: #418dff
}

.notifies .notify-container .notifies-item.info .header-section h1 {
	color: #418dff
}

.notifies .notify-container .notifies-item.badge .image-block {
	-webkit-filter: drop-shadow(0 0 .462962963vh #41bbff);
	filter: drop-shadow(0 0 .462962963vh #41BBFF)
}

.notifies .notify-container .notifies-item.badge .image-block .progress {
	stroke: #41bbff
}

.notifies .notify-container .notifies-item.badge .header-section h1 {
	color: #41bbff
}

.notifies .notify-container .notifies-item.cash .image-block {
	-webkit-filter: drop-shadow(0 0 .462962963vh #41ff98);
	filter: drop-shadow(0 0 .462962963vh #41FF98)
}

.notifies .notify-container .notifies-item.cash .image-block .progress {
	stroke: #41ff98
}

.notifies .notify-container .notifies-item.cash .header-section h1 {
	color: #41ff98
}

.notifies .notify-container .notifies-item.server .image-block {
	-webkit-filter: drop-shadow(0 0 .462962963vh #4198ff);
	filter: drop-shadow(0 0 .462962963vh #4198FF)
}

.notifies .notify-container .notifies-item.server .image-block .progress {
	stroke: #4198ff
}

.notifies .notify-container .notifies-item.server .header-section h1 {
	color: #4198ff
}

.notifies .center_top-container {
	align-items: flex-start;
	top: 0
}

.notifies .center_bottom-container,
.notifies .center_top-container {
	flex-direction: column;
	justify-content: flex-end;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}

.notifies .center_bottom-container {
	align-items: flex-end;
	bottom: 0
}

.notifies .left_center-container {
	align-items: flex-end;
	left: 0
}

.notifies .left_center-container,
.notifies .right_center-container {
	justify-content: flex-start;
	top: 50%;
	-webkit-transform: translateY(-55%);
	transform: translateY(-55%)
}

.notifies .right_center-container {
	align-items: flex-start;
	right: 0
}

body {
	background-color: transparent;
	color: #fff;
	font-family: Akrobat, sans-serif;
	font-size: 1.1111111111vh;
	font-weight: 500;
	height: 100vh;
	line-height: 1.2962962963vh;
	overflow: hidden;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed
}

body h1 {
	line-height: 120%
}

image {
	pointer-events: none
}

::-webkit-scrollbar {
	scrollbar-gutter: stable;
	width: .462962963vh
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
	background: hsla(0, 0%, 100%, .15);
	border-radius: 0
}

*,
:after,
:before {
	box-sizing: border-box;
	-webkit-user-select: none;
	user-select: none
}

ol[class],
ul[class] {
	list-style: none;
	padding: 0
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol[class],
p,
ul[class] {
	margin: 0
}

a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto
}

img {
	display: block;
	max-width: 100%
}

:focus {
	outline: none !important
}

button,
input,
select,
textarea {
	background: transparent;
	border: none;
	font: inherit;
	padding: 0
}

input::-webkit-input-placeholder {
	color: inherit
}

input::placeholder {
	color: inherit
}

@media(prefers-reduced-motion:reduce) {
	* {
		-webkit-animation-duration: .01ms !important;
		animation-duration: .01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition-duration: .01ms !important
	}
}

input[type=range] {
	-webkit-appearance: none;
	height: .462962963vh;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%
}

input[type=range]:focus {
	outline: none
}

input[type=range]::-webkit-slider-runnable-track {
	height: .462962963vh;
	width: 100%
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #fff;
	border-radius: .8333333333vh;
	height: 1.4814814815vh;
	margin-top: -.462962963vh;
	width: .6481481481vh
}

/*# sourceMappingURL=main.a174d393.css.map*/
